{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Choice Trivia Game</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<script src="{% static 'js/spotifyGame.js' %}" defer></script>
</head>
<body>
    <h1>Multiple Choice Trivia Game</h1>
    <h2 id="score"></h2>
    <div class="question-body">
      <div id="question" class="question"></div>
      <div id="options" class="options"></div>
    </div>
	<button class="restart hidden" onclick="restartGame()">Play Again</button>

</body>
</html>