{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trivia Game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/triviaGame.js' %}" defer></script>
  </head>
  <body>
    <h2 id="score"></h2>
    <div class="question-body">
      <div id="question" class="question"></div>
      <div id="options" class="options"></div>
    </div>
    <div id="options" class="options restart hidden">
      <button onclick="restartGame()">Play Again</button>
      <form method="get" action="{% url 'game_selection' %}">
        <input type="hidden" name="player_id" value="{{ id }}" />
        <button id="guess-button" type="submit">Selection Page</button>
      </form>
    </div>
  </body>
</html>
