{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% comment %}
    <script src="{% static 'js/weatherGame.js' %}" defer></script>
    {% endcomment %}
  </head>
  <body>
    {% if feedback %}
    <div class="weather">
      <h3 id="score">Score: {{score}}</h3>
      <p>Question {{questionNum}}</p>
      <p id="question">Guess the weather in {{city}}.</p>
      <form id="playerAnswer" method="post">
        {% csrf_token %}
        <label for="guess"></label>
        <input
          type="number"
          id="guess"
          name="guess"
          placeholder="Enter your guess in (fahrenheit)"
          required
        />
        <button id="guess-button" type="submit">Guess!</button>
      </form>
    </div>
    {% elif end %}
    <div class="weather">
      <form method="get" action="{% url 'game_selection' %}">
        <input type="hidden" name="player_id" value="{{ id }}" />
        <button id="guess-button" type="submit">Selection Page</button>
      </form>
      <form method="get" action="{% url 'weather_game' player_id=id %}">
        <button id="guess-button" type="submit">Play Again</button>
      </form>
      <form method="get">
        <button id="guess-button" type="submit">Leaderboard</button>
      </form>
    </div>
    {% else %}
    <div class="weather">
      <h3 id="score">Score: {{score}}</h3>
      <p>Question {{questionNum}}</p>
      <p id="question">{{message}}</p>
      <form method="post">
        {% csrf_token %}
        <button id="guess-button" name="next" type="submit">
          Next Question
        </button>
      </form>
    </div>
    {% endif %}

    <p id="message"></p>
  </body>
</html>
