{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% comment %}
    <script src="{% static 'js/weatherGame.js' %}" defer></script>
    {% endcomment %}
  </head>
  <body>
    <div class="weather">
      <h3 id="score">Score: {{score}}</h3>
      <p>Question {{questionNum}}</p>
      <p></p>
      <p id="question">Guess the weather in {{city}}.</p>
      <form id="playerAnswer" method="post">
        {% csrf_token %}
        <label for="guess"></label>
        <input
          type="number"
          id="guess"
          name="guess"
          placeholder="Enter your guess in (celsius)"
          required
        />
        <button id="guess-button" type="submit">Guess!</button>
      </form>
    </div>

    <p id="message"></p>
  </body>
</html>
