{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {% if feedback %}

    <div class="weather">
      <p id="question-num">Question {{questionsNum}}</p>
      <div class="progress-container">
        {% if questionsNum == 1 %}
        <div class="progress-bar" style="width: 20%"></div>
        {% elif questionsNum == 2 %}
        <div class="progress-bar" style="width: 40%"></div>
        {% elif questionsNum == 3 %}
        <div class="progress-bar" style="width: 60%"></div>
        {% elif questionsNum == 4 %}
        <div class="progress-bar" style="width: 80%"></div>
        {% elif questionsNum == 5 %}
        <div class="progress-bar" style="width: 100%"></div>
        {% endif %}
      </div>
      <p id="question">Guess the weather in {{city}}.</p>
      <form id="playerAnswer" method="post">
        {% csrf_token %}
        <label for="guess"></label>
        <input
          type="number"
          id="guess"
          name="guess"
          placeholder="Enter your guess in (fahrenheit)"
          required
        />
        <button id="guess-button" type="submit">Guess!</button>
      </form>
    </div>
    {% elif end %}
    <div class="weather">
      <form method="get" action="{% url 'game_selection' %}">
        <input type="hidden" name="player_id" value="{{ id }}" />
        <button id="guess-button" type="submit">Selection Page</button>
      </form>
      <form method="get" action="{% url 'weather_game' player_id=id %}">
        <button id="guess-button" type="submit">Play Again</button>
      </form>
      <form method="get">
        <button id="guess-button" type="submit">Leaderboard</button>
      </form>
    </div>
    {% else %}
    <div class="weather">
      <p id="question-num">Question {{questionsNum}}</p>
      <div class="progress-container">
        {% if questionsNum == 1 %}
        <div class="progress-bar" style="width: 20%"></div>
        {% elif questionsNum == 2 %}
        <div class="progress-bar" style="width: 40%"></div>
        {% elif questionsNum == 3 %}
        <div class="progress-bar" style="width: 60%"></div>
        {% elif questionsNum == 4 %}
        <div class="progress-bar" style="width: 80%"></div>
        {% elif questionsNum == 5 %}
        <div class="progress-bar" style="width: 100%"></div>
        {% endif %}
      </div>
      <p id="question">
        Your Total Score: <span id="current-score">0</span>
        <span id="message">{{ message }}</span>
        <img id="gif" src="{% static gif %}" />
      </p>
      <form method="post">
        {% csrf_token %}
        <button id="guess-button" name="next" type="submit">
          Next Question
        </button>
      </form>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const currentScoreDisplay = document.getElementById("current-score");
        const totalScore = Number("{{ score }}");
        const duration = 500;
        const startTime = performance.now();

        function updateScore(currentTime) {
          const elapsed = currentTime - startTime;
          const progress = Math.min(elapsed / duration, 1);
          const currentScore = Math.floor(totalScore * progress);
          currentScoreDisplay.textContent = currentScore;
          if (progress < 1) {
            requestAnimationFrame(updateScore);
          } else {
            currentScoreDisplay.textContent = totalScore;
          }
        }
        requestAnimationFrame(updateScore);
      });
    </script>
    {% endif %}
  </body>
</html>
