* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.start-screen {
  font-size: 75px;
}

.start-screen #player-form {
  font-size: 35px;
}

.start-screen #playername {
  font-size: 30px;
}

.start-screen #player-enter {
  font-size: 30px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
}

.options button {
  padding: 20px;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  background-color: white;
  border: 2px solid black;
}

.options button:hover {
  background-color: rgb(213, 213, 213);
}

.question {
  font-size: 24px;
}

.hidden {
  display: none;
}

.restart {
  font-size: 24px;
  padding: 20px;
  cursor: pointer;
  background-color: white;
  border: 2px solid black;
}
